.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
}

.banner_bg_main {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.custom_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 6px 10px 0px 10px;
}

.custom_menu li a {
    color: #f1f1f1;
}

.custom_menu li a:hover {
    color: #f26522;
}

.fashion_taital {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0px;
}

.tshirt_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 370px;
}

.seemore_bt {
    width: 100%;
    float: right;
    text-align: right;
}

.seemore_bt a {
    width: 100%;
    font-size: 16px;
    color: #262626;
    background-color: transparent;
    text-align: right;
}

.seemore_bt a:hover {
    background-color: transparent;
    color: #f26522;
}

.tshirt_img {
    margin: 20px 0px;
    min-height: 0;
}

.tshirt_img {
    margin: 20px 0px;
    min-height: 246px;
}

.tshirt_img {
    margin: 20px 0px;
    min-height: 320px;
}

.tshirt_img {
    margin: 20px 0px;
    min-height: 360px;
}